<!doctype html>
<html class="no-js" lang="zxx">
<%- include('./parts/homehead.ejs')%>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="">
                                    <img src="img/logo (2).png" alt="">
                                </a>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/HomeSPAfterlogin">Home</a></li>
                                        <li><a href="/spChat">Inbox</a></li>
                                        <li><a href="/spReview">My Reviews</a></li>
                                        <li><a href="/spProfile">Your profile</a></li>
										                    <li><a href="/spSetting">Setting</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                          <div class="book_room">
                              <div class="book_btn d-none d-lg-block">
                                  <a class="popup-with-form" href="#log-out-form">Sign Out</a>
                              </div>
                          </div>
                      </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
	
	<div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                    </div>
                </div>
            </div>
            <!--================Blog Area =================-->
	<!-- Post_area_start -->
	<div class="Post_area">
    <div class="container">
        <div class="wrapper">
          <section class="post">
            <header>Create Your Post</header>
            <form action="/HomeSPAfterlogin" method="post" enctype="multipart/form-data">
              <input type="text" name="offerTitle" id="price" placeholder="Title" required></input>
              <textarea name ="postDetails" placeholder="What's on your mind?" spellcheck="false" ></textarea>
              <input type="text" name="price" id="price" placeholder="Price"></input>
              <div class="options">
                      <p>choose image to Your Post</p>
                      <input  type="file"   style="position:left; width:150px ;height: 45px;" name="image" >
              <!-- <div class="btn btn-primary payment" style="position:left; width:150px">Choose File</div> -->
                    </div>
                    <button id="signIn">Post</button>
                  </form>
            <!-- <form action="/HomeSPAfterlogin" method="post" enctype="multipart/form-data">
              <input type="text" name="offerTitle" placeholder="Title" style="font-size: 20px;text-align:left; font-weight: bold; border-radius: 10px ;padding: 10px 90px; border: #023859;  background-color: #fff;" required/> 
              <textarea name ="postDetails" placeholder="What's on your mind?" spellcheck="false" ></textarea>
              <input type="text" name="price" style="font-size: 20px;text-align:left; font-weight: bold; border-radius: 10px ;padding: 10px 90px; color:#023859; background-color: #fff;" placeholder="Offer Price" /> 
              <div class="options">
                <input type="file" name="image" >
              </div>
              <button id="signIn">Post</button>
            </form> -->
          </section>
          
          
        </div>
      </div>
    </div>
            <!--================Blog Area =================-->
	<!-- <section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <% for (let user of data) { %>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="/<%= user.image%>" alt="">
                        </div>

                        <div class="blog_details">
                           <a class="d-inline-block" href="/sp_profile_forClient"> 
                            <h3 style="color: #daa520;"><%= user.serviceName %></h3>
                         </a> 
                          <h3 style="color: #daa520;">
                            OfferTitle :
                            <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                        </h3>
                        
                        <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                        <h3 style="color: #daa520;" >
                            OfferPrice :
                            <p style="color:black; font-size: 20px;"><%= user.price %></p>
                        </h3>
                        </div>
                        <% } %>
                        
                    </article>

                    
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="Post_area">
  <% for (let user of data) { %>
	<div class="container">
      <div class="wrapper">
        <section class="post">
          <header><%= user.offerTitle %></header>
          
		      <div class="blog_item_img">
          <img class="card-img rounded-0" src="/<%= user.image%>" width="200px" height="200px">
          </div>
		      <p><%= user.postDetails%></p>
          <p><%= user.price %></p>
            <a href="#" style="color:#daa520;" class="active">View Offer Ditails</a>
        </section>
  
      </div>
    </div>
    <% } %>
	</div>
<style type="text/css">
    body{
  margin-top:20px;
  color: #023859;
  text-align: left;
  background-color: #f1f1e6;    
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 10px 20px #daa520;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #023859;
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #daa520;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
.mt-3 a{
  color:#daa520;
background-color:#023859;
border:none;
}
.mt-3 a:hover{
  color:#fff;
background-color:#daa520;
border:none;
}
.col-sm-12 a{
  color:#daa520;
background-color:#023859;
border:none;
}
.col-sm-12 a:hover{
  color:#fff;
background-color:#daa520;
border:none;
}
.mb-0{
  color:#023859;
}
input {
background-color: #fff;
border: none;
box-shadow:0 7px 14px #daa520;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
color:#023859;
border-radius:20px;
}
.btn.btn-primary {
  background-color: #023859;
  color: #fff;
  box-shadow: none;
  border: none;
  font-size: 20px;
  width: 100%;
  height: 80%;
}
  </style>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
    <script>
      const container = document.querySelector(".container"),
      privacy = container.querySelector(".post .privacy"),
      arrowBack = container.querySelector(".audience .arrow-back");

      privacy.addEventListener("click", () => {
        container.classList.add("active");
      });

      arrowBack.addEventListener("click", () => {
        container.classList.remove("active");
      });
    </script>
	<!-- Post_area_end -->
	
	<!-- form itself end-->
  <form action="/logout" id="log-out-form" class="white-popup-block mfp-hide">
    <div class="popup_box ">
            <div class="popup_inner">
                <h3>Are You Sure You Want To Sign Out?</h3>
                <a href="/logout" class="boxed-btn3">Yes</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</form>
                        </div>
                    </div>
            </form>
    <!-- form itself end -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

        });
    </script>



</body>

</html>