<!doctype html>
<html class="no-js" lang="zxx">
<%- include('./parts/homehead.ejs')%>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="img/logo (2).png" alt="">
                                </a>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a href="#">Services <i class="ti-angle-down"></i></a>
										<ul class="submenu">
                                                <li><a href="/signin">Hotels</a></li>
                                                <li><a href="/signin">Cinemas</a></li>
												<li><a href="/signin">Bazaars</a></li>
                                                <li><a href="/signin">Resorts & Villages</a></li>
												<li><a href="/signin">Natural Preserves</a></li>
                                                <li><a href="/signin">Tourism Companies</a></li>
												<li><a href="/signin">Archaeological Sites</a></li>
												<li><a href="/signin">Restaurants & Cafes</a></li>
                                                <li><a href="/signin">Transportation Companies</a></li>
                                            </ul>
											</li>
                                        <li><a href="/signin">Search</a></li>
                                        <li><a href="#">Sign Up <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/clientSignup">Client</a></li>
                                                <li><a href="/spSignup">Partner</a></li>
                                            </ul>
                                        </li>
										<li><a href="/signin">Sign In</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>MTGY Al Fayoum</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Life is Beautiful</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>MTGY Al Fayoum</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Life is Beautiful</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>A Tourism Website</h3>
                        </div>
                        <p>Made to help any tourist to know about what Al Fayoum has to offer from hotels, resorts,
						restaurants, cafes, and tourism companies. Also help any service provider to advertise about
						what they have to offer.</p>
                        <a href="#" class="line-button">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="img/about/about_1.png" alt="">
                        </div>
                        <div class="img_2">
                            <img src="img/about/about_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- Hotel offers_area_start  -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Hotels</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of data) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->

    <!--Restaurant offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Restaurants & Cafes</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of rest) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->
	
    <!--Resorts offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Resorts & Villages</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of resort) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->

    <!-- Tourism Companies offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Tourism Companies</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of tourism) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
	
	<!-- Cinemas offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Cinemas</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of cinema) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->

    <!--Bazaars offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Bazaars</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of bazaar) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->
	
<!-- Transportation Companies offers_area_start -->
<div class="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Transportation Companies</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <% for (let user of transportation) { %>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="<%=user.image%>" alt="">
                    </div>
                    <h3><%=user.serviceName%></h3>
                    <ul>
                        <h3 style="color: #daa520;">
                            OfferTitle :
                            <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                        </h3>
                        <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                        <h3 style="color: #daa520;" >
                            OfferPrice :
                            <p style="color:black; font-size: 20px;"><%= user.price %></p>
                        </h3>
                        
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
    <!-- offers_area_end -->

    <!--Archaeological Sites offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Archaeological Sites</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of Site) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->	
	
    <!--Natural Preserves offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Natural Preserves</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (let user of natural) { %>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="<%=user.image%>" alt="">
                        </div>
                        <h3><%=user.serviceName%></h3>
                        <ul>
                            <h3 style="color: #daa520;">
                                OfferTitle :
                                <p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                            </h3>
                            <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                            <h3 style="color: #daa520;" >
                                OfferPrice :
                                <p style="color:black; font-size: 20px;"><%= user.price %></p>
                            </h3>
                            
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->	
	
    <%- include('./parts/homefooter.ejs')%>
</body>

</html>