<!doctype html>
<html class="no-js" lang="zxx">
<%- include('./parts/homehead.ejs')%>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/logo (2).png" alt="">
                                </a>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/HomeAfterlogin">Home</a></li>
                                        <li><a class="active" href="/hotel">Hotels</a></li>
                                        <li><a href="/search">Search</a></li>
										<li><a href="/clientProfile">Your Profile</a></li>
										<li><a href="/setting">Settings</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#log-out-form">Sign Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

<div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                    </div>
                </div>
            </div>
	<!--================Blog Area =================-->
	<section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <% for (let user of data) { %>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="/<%= user.image%>" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="/edit/<%=user.sp_id%>">
                                    <h3 style="color: #daa520;"><%= user.serviceName %></h3>
                                </a>
                                <h3 style="color: #daa520;">
                                    OfferTitle :<p style="color:black; font-size: 20px;"><%= user.offerTitle %></p>
                                </h3>
                                <p style="color:black; font-size: 20px;" ><%= user.postDetails%></p>
                                <h3 style="color: #daa520;" >
                                    OfferPrice :
                                    <p style="color:black; font-size: 20px;"><%= user.price %></p>
                                </h3>
                        <form action=""  method="post" >
                        <div class="qty mt-5"> 
                        <span class="minus">-</span>
                        <input type="number"  name="qauntity" value="0">
                        <span class="plus">+</span> 
                        <!-- <input type="number"  name="qauntity" placeholder="enter amount">
                        <br></br> --> 
                        
                        <div class="col-sm-12">
                            <!-- <input type="number"  name="qauntity" placeholder="enter amount" value="<%=user.qauntity%>">
                            <br></br> -->
                                <!-- <input type="number" name=" qauntity" value="<%=user.qauntity%>" /> -->
                                <input type="hidden" name="service" value="<%=user.offerTitle%>">
                                <input type="hidden" name="price" value="<%=user.price%>">
                                <input type="hidden" name="category" value="<%=user.category%>">
                                <input type="hidden" name="image" value="<%=user.image%>">
                                <!-- <a class="btn btn-info " target="__blank" style="background-color: #daa520; color: white;" type="button" href="/order">Order</a> -->
                                <input class="btn btn-info " target="__blank" type="submit" style="background-color: #daa520;" value="Order Now" formaction="/order"/>
                                <input class="btn btn-info " target="__blank" type="submit" style="background-color: #daa520;" value="Add to Cart" formaction="/cart"/>
                        </form>
                        </div>
						
                    </div>
                            </div>
                            <% } %>
                            
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

	<!-- form itself end-->
    <form action="/logout" id="log-out-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
                <div class="popup_inner">
                    <h3>Are You Sure You Want To Sign Out?</h3>
                    <a href="/logout" class="boxed-btn3">Yes</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </form>
    <!-- form itself end -->

<style type="text/css">
        .qty .count {
    color: #023859;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
/* .col-sm-12 a{
    
    color:#023859;
    background-color:#daa520;
    border:none;
} */
/* .col-sm-12 a:hover{
    color:#b7a6a6;
    background-color:#daa520;
    border:none;
} */
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #daa520;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #daa520;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: left;
}
.minus:hover{
    background-color: #023859 !important;
}
.plus:hover{
    background-color: #023859 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
    </style>
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
<script type="text/javascript">
		$(document).ready(function(){
		    $('.count').prop('disabled', true);
   			$(document).on('click','.plus',function(){
				$('.count').val(parseInt($('.count').val()) + 1 );
    		});
        	$(document).on('click','.minus',function(){
    			$('.count').val(parseInt($('.count').val()) - 1 );
    				if ($('.count').val() == 0) {
						$('.count').val(1);
					}
    	    	});
 		});
</script>

</body>

</html>