<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MTGY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="">
                                    <img src="/img/logo (2).png" alt="">
                                </a>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                            <li><a href="/HomeAfterlogin">Home</a></li>
                                            <li><a href="#">Services <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/hotel">Hotels</a></li>
                                                    <li><a href="/cinema">Cinemas</a></li>
                                                    <li><a href="/bazaar">Bazaars</a></li>
                                                    <li><a href="/resort&village">Resorts & Villages</a></li>
                                                    <li><a href="/naturalPreserve">Natural Preserves</a></li>
                                                    <li><a href="/tourismCompany">Tourism Companies</a></li>
                                                    <li><a href="/archaeologicalSite">Archaeological Sites</a></li>
                                                    <li><a href="/restaurant&cafe">Restaurants & Cafes</a></li>
                                                    <li><a href="/transportationCompany">Transportation Companies</a></li>
                                                    </ul>
                                                    </li>
                                            <li><a href="/search">Search</a></li>
                                            <li><a class="active" href="/clientProfile">Your Profile</a></li>
                                            <li><a href="/setting">Settings</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
						<div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#log-out-form">Sign Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
	
	<div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                    </div>
                </div>
            </div>
	
<div class="container">
<div class="main-body">
<div class="row gutters-sm">
<div class="col-md-4 mb-3">
<div class="card">
<div class="card-body">
<div class="d-flex flex-column align-items-center text-center">
<img src="/img/comment/comment_2.png" alt="Name" class="rounded-circle" width="100">
<div class="mt-3">
<h4 style="color:#023859"><%= user.username %></h4>
<p class="text-secondary mb-1"></p>
<a href="/clientChat/<%=user._id%>" class="btn btn-outline-primary">Message</a>
<a href="/rate/<%=user._id%>" class="btn btn-outline-primary">Add Review</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-8">
<div class="card mb-3">
<div class="card-body">
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">serviceName</h6>
</div>
<div class="col-sm-9 text-secondary">
    <%= user.serviceName %>
</div>
</div>
<hr>

<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Email</h6>
</div>
<div class="col-sm-9 text-secondary">
    <%= user.email %>
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Phone</h6>
</div>
<div class="col-sm-9 text-secondary">
    <%= user.phoneNumber %>
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Address</h6>
</div>
<div class="col-sm-9 text-secondary">
    <%= user.Address %>
</div>
</div>
<hr>

<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Category</h6>
</div>
<div class="col-sm-9 text-secondary">
    <%= user.category %>
    </div>
</div>

<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript'></script>
                                <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
                                myLink.addEventListener('click', function(e) {
                                    e.preventDefault();
                                });</script>
<!-- form itself end-->
<form action="/logout" method="post" id="log-out-form" class="white-popup-block mfp-hide">
    <div class="popup_box ">
            <div class="popup_inner">
                <h3>Are You Sure You Want To Sign Out?</h3>
                <a href="/logout" class="boxed-btn3">Yes</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</form>
    <!-- form itself end -->
<style type="text/css">
    	body{
    margin-top:20px;
    color: #023859;
    text-align: left;
    background-color: #f1f1e6;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 #023859, 0 1px 2px 0 #023859;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #023859;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #daa520;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.mt-3 a{
    color:#daa520;
	background-color:#023859;
	border:none;
}
.mt-3 a:hover{
    color:#fff;
	background-color:#daa520;
	border:none;
}
.col-sm-12 a{
    color:#daa520;
	background-color:#023859;
	border:none;
}
.col-sm-12 a:hover{
    color:#fff;
	background-color:#daa520;
	border:none;
}
.mb-0{
    color:#023859;
}
.comment-box{
    
    padding:10px;
}



.comment-area textarea{
   resize: none; 
        border: 1px solid #023859;
}


.form-control:focus {
    color: #023859;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #023859 !important;
}

.send {
    color: #fff;
    background-color: #023859;
    border-color: #023859;
}

.send:hover {
    color: #fff;
    background-color: #daa520;
    border-color: #daa520;
}


.rating {
 display: flex;
        margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
        float: left;
}

.rating>input {
    display: none
}

.rating>label {
        position: relative;
    width: 19px;
    font-size: 25px;
    color: #daa520;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
    </style>
    
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>